SELECT 
       NULLIF(REPLACE(REPLACE([COUNTRY_CD], CHAR(13), ''), CHAR(10), ''),'') AS [COUNTRY_CD],
      NULLIF(REPLACE(REPLACE([COUNTRY_DESC], CHAR(13), ''), CHAR(10), ''),'') AS [COUNTRY_DESC],
	  CONVERT(DATE, GETDATE()) AS MD_LOADDATE,
	  'INVESTIA-UNIVERIS' AS MD_SRCSYSTEM     
FROM [dbo].[S_COUNTRY] (nolock)
ORDER BY [COUNTRY_CD]