SELECT NULLIF(REPLACE(REPLACE([PROV_CD], CHAR(13), ''), CHAR(10), ''),'') AS [PROV_CD]
      ,NULLIF(REPLACE(REPLACE([PROV_DESC], CHAR(13), ''), CHAR(10), ''),'') AS [PROV_DESC]
	  ,CONVERT(DATE, GETDATE()) AS MD_LOADDATE 
	  ,'FUNDEX-UNIVERIS' AS MD_SRCSYSTEM    
  FROM [dbo].[S_PROVINCE] (nolock)
  ORDER BY [PROV_CD]